.container {
    border: 5px dotted aqua;
    
    flex-direction: column;
    background-color: #38a3a5;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: auto;
}

.search{
    flex: 1;
}

nav ul li{
list-style: none;
}


@media all and (max-width: 600px){
  .container { flex-wrap: wrap;}

    .container > li {
        flex: 1 1 50%;}

    }
.search > input {
    text-align: center;
}
@media all and (max-width: 400px){
    .container > li {
        flex: 1 1 100%;}
}
.search{
   order: 1;
   justify-content: center;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 60px;
   color: #57cc99;

}

body {
    text-align: center;
    background-color: #22577a;
    width: fit-content;
    margin: auto;
   
    
}

p {
    
    justify-content: center;
   font-size: larger;
   padding: 10px;
}

.img1 {
    align-items: center;
    width: 500px;
   border: 10px solid #80ed99;
    margin: 40px;

}

/* .footer { */
    padding: 10px;
}